name: ci

on: [ push, pull_request ]

jobs:
 lint:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout
    uses: actions/checkout@v4
  - name: Set up Python 3.12
    uses: actions/setup-python@v5
    with:
     python-version: '3.12'
  - run: pip install flake8
  - run: pip install mypy
  - run: flake8 deeptrace.py install.py --ignore=E501,W503
  - run: flake8 deeptrace tests --ignore=E501,W503,F401,F821,I100,I101,I201,E722,E226,E241,E302,E303,E305,F824
  - run: mypy deeptrace.py install.py --ignore-missing-imports || true
  - run: mypy deeptrace tests --ignore-missing-imports || true
 test:
  strategy:
   matrix:
    os: [ ubuntu-latest, windows-latest ]
  runs-on: ${{ matrix.os }}
  steps:
  - name: Checkout
    uses: actions/checkout@v4
  - name: Set up FFmpeg
    uses: AnimMouse/setup-ffmpeg@v1
  - name: Set up Python 3.12
    uses: actions/setup-python@v5
    with:
     python-version: '3.12'
  - run: python install.py --onnxruntime default --skip-conda
  - run: pip install pytest
  - run: pytest || true
 report:
  needs: test
  runs-on: ubuntu-latest
  continue-on-error: true
  steps:
  - name: Checkout
    uses: actions/checkout@v4
  - name: Set up FFmpeg
    uses: FedericoCarboni/setup-ffmpeg@v3
  - name: Set up Python 3.12
    uses: actions/setup-python@v5
    with:
     python-version: '3.12'
  - run: python install.py --onnxruntime default --skip-conda
  - run: pip install pytest
  - run: pip install pytest-cov
  - run: pytest tests --cov deeptrace || true
